/* @font-face {
    font-family: inter;
    src: url(../fonts/static/Inter-Regular.ttf);
} */
.more{
    width: 60%;
}
body{
    font-size: 15px;
    font-family: inter;
    background: #f5f5f5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    color: #333333 ;
}
#tous{
    background: #007BFF;
    color: #f5f5f5;
}
add-task,edit-task{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
    box-shadow: 4px 5px 5px #dcd8d8;
    border-radius: 5px;
    padding: 10px;
}
ul{
    width:100%;
    margin:5px 0;
    padding-left:10px;
}


.container{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px 0;
}
.container h1{
    margin: 0;
    margin-bottom: 20px;
    text-decoration: underline;
}


#task-list{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #007BFF;
    box-shadow: 4px 5px 5px #dcd8d8;
    /* padding: 10px; */
    margin: 0;
    margin-top: 5px;
 
}

.edit-span{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: 0;
}



.task{
    width: 80%;
    display: flex;
    gap: 5px;
    padding: 10px 10px 0 0;
    text-align: left;
}
.task span{
    width: fit-content;
    background:#fff ;
    border:1px solid #333333 ;
    padding: 10px 5px;
    cursor: pointer;
}
task-list{
    position: relative;
    width: 90%;
    /* height: 30px; */
    min-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background:#fff ;
    padding: 10px;
    margin: 10px 0;
}
.task-menu{
}
@media only screen and (max-width:600px){
    .container{
        width: 100%;
    }
}