/* @font-face {
    font-family: inter;
    src: url(../fonts/static/Inter-Regular.ttf);
} */

/* */
#input-to-do,.edit-input{
    border: none;
    outline: none;
    box-shadow: inset 1px 1px 1px 1px#dcd8d8;
    height: 40px;
    border-radius: 15px;
    padding: 0 10px;
}
button{
    border-radius: 15px;
    cursor: pointer;
}
.label-edit{
    display: flex;
    align-items: center;
}
.input{
    display: flex;
    flex-direction:row;
    justify-content: center;
    width: 100%;
    margin: 0;
    
}

#add,#edit{
    width: 100px;
    margin-left: 5px;
}
#add, #edit{
    width: 90px;
    background: #007BFF;
    color: #fff;
    border: solid 1px #007BFF;
}

#input-to-do{
    width: 100%;
}


@media only screen and (max-width:600px){
    .container{
        width: 100%;
    }
}